@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html, body{
    height: 100%;
}

*{
    box-sizing: border-box;
}

body {
    background: rgb(255,69,28);
    background: linear-gradient(180deg, rgba(255,69,28,1) 15%, rgba(33,0,17,1) 85%); 
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Questrial', sans-serif;
}

h1{
    color: #FEA273;
    text-shadow:  1px 1px 5px #210011;
    letter-spacing: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

li > a.nav-link{
    color: #FEA273;
    text-shadow:  1px 1px 5px #210011;
}

li > a:hover{
    color: #210011;
}

form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.form-group{
    padding: 20px;
}

label{
    text-shadow: rgba(255,255,255,0.2) 2px 2px 4px;
}

.form-group > button{
    background-color: #210011;
    border-color: #210011;
    color: white;
}

.hidden-content{
    visibility: hidden;
}

#DeleteButton{
    margin-top: 50px;
    padding: 10px;
}